<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>seed-viewed-+trJt2VsTvK1yfPGwOySDw</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-/+vP78HsSh+Yeb4xJnUT9A</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-2+LvxAVyT6qnV1sDMZT0NA</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-40reAuuYTHOsx4oGcx4qrA</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-APhNaYV1RxSS41lC7ZJJ9Q</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-B70mVuHeT0WUgKh/VdUuZQ</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-EBFV2ZqnQiaqrZhvyifLeQ</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-ETJeJ9/1QmmWUde7uK8fDg</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-EWfaSdJwR/6f1BYGiyLpcQ</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-EeEFv8cyS0CVe3ia2UEehA</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-FQrkbNP9ThKQQtpqx2saFg</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-GZAJdmpdSqmfH2PkCr8ebw</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-JTecrrXDSVut2tSfltty9Q</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-KwUoo0fRRM2VPmIm0V67xg</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-LR2P9+rnQ2q9xSUy1ZgWOw</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-MM3ne3nTR9eXFyVwZ5gN7Q</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-Pa88nesPSO6POlutVN4/Sg</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-SdV08ZZQRxOCWq6JBEXmfg</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-SkI/dLAkQu6k/qpzSOG6Iw</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-Tu81gKhDTvmNkjyqcPBfKA</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-UhiR1M79RWmXLIQr4M0AWw</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-WEyaCPMVRB6HbnmRq9EnNQ</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-We59wh+OTa6c1yas/yppwg</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-aytyxqEmTIOvEz3iS4IbkA</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-b/dLke8ZTQaN9KKrxfwDQw</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-baXokbqsQ/2KLkzIZrR6ng</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-bigsur_imac</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-bigsur_imac-21</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-bigsur_imac-pro</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-bigsur_late-2020_mac-mini</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-bigsur_late-2020_macbook-air</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-bigsur_late-2020_macbook-pro-13</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-bigsur_mac-mini</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-bigsur_mac-pro</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-bigsur_macbook-pro</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-bigsur_macbook-pro-13</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-bigsur_whats_new</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-bydF6fX5Sp6aBYdEXD0VwQ</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-catalina_early-2020_macbook-air</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-catalina_early-2020_macbook-pro-13</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-catalina_imac</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-catalina_imac-21a</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-catalina_imac-pro</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-catalina_late-2019_macbook-pro</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-catalina_mac-mini</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-catalina_mac-pro</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-catalina_mac_basics</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-catalina_macbook-air</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-catalina_macbook-pro</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-catalina_macbook-pro-13</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-catalina_mid-2020_imac</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-catalina_whats_new</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-d+gfl8CNTNeauANKjf9WqA</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-f/Pn3F4RScOh+GUBKO9sRA</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-fWRpNw7IR3S3qxX63nmvMw</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-hP2OZh+MTEKeFcjgec2gZw</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-krdWS8DSQIqJSqQFXW1/pw</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-kti4ZkMKQFyCL2kbgCY23A</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-lEDfW5O+SZe8KTQ93HGOPA</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-lQlm1yrMS0GPVyAL44id+A</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-n87FVu1TSwGzble8vqBvsg</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-pDWyREoARJm5V1mJYr9GKg</key>
	<date>2021-03-25T12:22:25Z</date>
	<key>seed-viewed-srluh6uOQiuWCzxguqhDNw</key>
	<date>2021-03-25T12:22:25Z</date>
</dict>
</plist>