<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
	<key>EnterprisePoliciesEnabled</key>
	<true/>
	<key>DisableAppUpdate</key>
	<true/>
	<key>DisableTelemetry</key>
	<true/>
	<key>DisableFirefoxStudies</key>
    <true/>
	<key>DontCheckDefaultBrowser</key>
	<true/>
	<key>Homepage</key>
	<dict>
		<key>URL</key>
		<string>https://companywebsite.com</string>
		<key>Locked</key>
		<true/>
		<key>Additional</key>
		<array>
			<string>https://regionalcompanywebsite.co.uk</string>
		</array>
	</dict>
	<key>NoDefaultBookmarks</key>
	<true/>
	<key>OverrideFirstRunPage</key>
	<string></string>
	<key>OverridePostUpdatePage</key>
	<string></string>
    <key>PopupBlocking</key>
    <dict>
      <key>Allow</key>
      <array>
        <string>https://hrwebsite.com/</string>
      </array>
      <key>Default</key>
      <true/>
    </dict>
  </dict>
</plist>