<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExtensionInstallForcelist</key>
	<array>
		<string>oibpjimakibjnjgaadhdmnfcgfcbmgae</string>
	</array>
    <key>ExtensionSettings</key>
    <dict>
      <key>oibpjimakibjnjgaadhdmnfcgfcbmgae</key>
      <dict>
      	<key>toolbar_pin</key>
        <string>force_pinned</string>
      </dict>
    </dict>
</dict>
</plist>