<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSHandlers</key>
	<array>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.jamfsoftware.selfservice</string>
			<key>LSHandlerURLScheme</key>
			<string>selfservice</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.comma-separated-values-text</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.microsoft.excel</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.microsoft.outlook</string>
			<key>LSHandlerURLScheme</key>
			<string>mailto</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>com.apple.mail.email</string>
			<key>LSHandlerRoleAll</key>
			<string>com.microsoft.outlook</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>com.microsoft.outlook15.email-message</string>
			<key>LSHandlerRoleAll</key>
			<string>com.microsoft.outlook</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.vcard</string>
			<key>LSHandlerRoleAll</key>
			<string>com.microsoft.outlook</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>com.apple.ical.ics</string>
			<key>LSHandlerRoleAll</key>
			<string>com.microsoft.outlook</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>com.microsoft.outlook15.icalendar</string>
			<key>LSHandlerRoleAll</key>
			<string>com.microsoft.outlook</string>
		</dict>
	</array>
</dict>
</plist>
